body {
  margin: 0;
  background: #000;
}

@media (max-width: 500px) {
  canvas {
    transform: scale(0.9);
  }
}

@media (max-width: 450px) {
  canvas {
    transform: scale(0.8);
  }
}

@media (max-width: 400px) {
  canvas {
    transform: scale(0.75);
  }
}

@media (max-width: 375px) {
  canvas {
    transform: scale(0.64);
  }
}
